[Unit]
Description=Kaonic ATAK Plugin
After=network-online.target kaonic-commd.service
Wants=network-online.target

[Service]
Type=simple
Environment="KAONIC_GATEWAY_DB_PATH=/kaonic-gateway.db"
ExecStart=/usr/bin/kaonic-atak-plugin --rns-module 0
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
